@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*variables*/
$purple: #32213a;
$blue: #383b53;
$gray: #66717e;
$lighttan: #d4d6b9;
$darktan: #d1caa1;
$Mohave: 'Mohave', sans-serif;
$Lato: 'Lato', sans-serif;


$blue: #64A6BD;
$gray: #90A8C3;
$black: #312F2F;
$orange: #FF715B;
$green: #5DFDCB;
/*mix-ins*/
@mixin flexRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
@mixin flexColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

img { max-width: 100%; }
body {
  background-color: $blue;
  font-family: $Lato;
  margin: 0;
}
#wrap {
  max-width: 1000px;
  background-color: $purple;
  margin: auto;
  @include flexRow;
  justify-content: center;
  h1 {
    color: $darktan;
    font-size: 72px;
    font-family: $Mohave;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    padding: 0 100px;
    text-align: center;
  }
  .section {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 30px;
    background-color: $gray;
    box-shadow: 5px 5px 15px darken($gray, 30);
    @include flexColumn;
    justify-content: space-between;
    h2 {
      font-family: $Mohave;
      color: $lighttan;
      border: solid $darktan 5px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 15px 0;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 32px;
    }
    .row {
      width: 100%;
      height: 115px;
      @include flexRow;
      label {
        color: $lighttan;
        font-size: 24px;
        text-align: left;
        margin-left: 15px;
      }
      input[type="text"] {
        background-color: $lighttan;
        border: 0;
        outline: none;
        font-size: 32px;
        line-height: 64px;
        color: $purple;
      }
      #zip {
        width: 300px;
      }
      .filepond--drop-label { background-color: $lighttan; }
      .filepond--drop-label label { color: $purple; font-size: 16px;}
    }

    .button {
      display: block;
      width: 250px;
      padding: 10px 0;
      font-size: 24px;
      color: $gray;
      background-color: $lighttan;
      font-weight: 400;
      text-align: center;
    }
    .button:hover { cursor: pointer; }
  }

  .popupWrap {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    z-index: 2;
    .popup {
      width: 100%;
      padding: 5px;
      margin: auto;
      @include flexRow;
      justify-content: center;
      align-items: flex-start;
      .fa-times-circle {
        color: $darktan;
        font-size: 56px;
        float: right;
        text-align: right;
        margin: 0 20px;
      }
      .fa-times-circle:hover {
        cursor: pointer;
      }
      h2 {
        font-size: 32px;
        color: $lighttan;
      }
      #formWrap {
        p {
          font-size: 18px;
          margin: 0;
          color: $lighttan;
        }


        form{
          width: 600px;
          border-radius: 10px;
          background-color: $gray;
          box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.6);
        .title{
          width: 100%;
          line-height: 72px;
          font-size: 24px;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          color: $lighttan;
          font-family: $Mohave;
          letter-spacing: 5px;
          background-color: $purple;
          border-radius: 10px 10px 0 0;
        }
        .body{
          padding: 10px;
          overflow: scroll;
          height: 400px;
          .row{
            display: flex;
            justify-content: space-around;
            padding: 10px;
            input[type="text"], textarea{
              font-family: $Lato;
              margin: 0 15px;
              border-radius: 5px;
              outline: none;
              border: none;
              background-color: $lighttan;
              color: darken($lighttan, 40);
              font-size: 16px;
              line-height: 24px;
              width: 100%;
            }
            input[type="text"] {
              appearance: none;
              padding: 5px 15px;
            }
          }
          .row#file { display: block;}
          textarea {
            resize: none;
            height: 100px;
            padding: 10px;
          }
        }
        .footer{
          margin: 15px 50px;
          padding: 15px 10px;
          @include flexRow;
          border-top: solid lighten($purple, 10) 2px;
          input[type='submit']{
            outline: none;
            border: none;
            line-height: 48px;
            border-radius: 5px;
            padding: 5px 25px;
            background: $blue;
            color: $lighttan;
            margin: auto;
            font-size: 24px;
          }
          input[type="submit"]:hover {cursor: pointer;}
        }
      }
      }
    }
  }
}
