@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Raleway:wght@400;700&display=swap');
/*
  darkgray: #031927
  seconddarkshade: #052435
  lightgray: #72727E
  white: #fafaff
  purple: #797A9E
 
  font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif;
*/
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  background-color: #031927;
  padding-bottom: 150px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  letter-spacing: 8px;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}
header h1 {
  width: auto;
  border-bottom: solid #797A9E 3px;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #797A9E;
  text-transform: uppercase;
}
.card-scroll {
  overflow: auto;
  white-space: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.card-scroll li {
  background: #fafaff;
  color: #fff;
  display: inline-block;
  font-size: 0px;
  letter-spacing: 2px;
  font-weight: bold;
  width: 207px;
  height: 448px;
  line-height: 200px;
  text-align: center;
  border-radius: 20px;
  border: solid #fafaff 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.card-scroll li#sodapopLink { background-image: url('imgs/samples/sodapop_icons.png'); }
.card-scroll li#HSDiagonalLink { background-image: url('imgs/samples/HSDiagonal.jpeg'); }
.card-scroll li#HSSidebarLink { background-image: url('imgs/samples/HSSidebar.jpeg'); }
.card-scroll li#HSBorderLink { background-image: url('imgs/samples/HSBorder.jpeg'); }
.block {
  width: 90%;
  margin: 20px auto;
  box-shadow: 5px 7px 10px #000;
  border-radius: 40px;
  background-color: #052435;
  padding: 30px;
  box-sizing: border-box;
}
.block h2 {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  color: #797A9E;
  width: 100%;
  text-transform: uppercase;
}
.block h3 {
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fafaff;
}
.block p {
  letter-spacing: 1px;
  color: #fafaff;
}
.block p a {
  text-decoration: none;
  color: #797A9E;
  text-transform: uppercase;
  border-bottom: solid white 2px;
}
.small {
  font-size: 12px;
  margin: 0;
  padding-left: 20px;
}
.link-list {
  width: 100%;
  height: 400px;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.link-list a {
  width: 100%;
  height: 75px;
  border-radius: 20px;
  background-color: #031927;
  box-shadow: 5px 7px 10px #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #797A9E;
  text-decoration: none;
  letter-spacing: 2px;
}
.link-list a img{
  width: 40px;
  height: 40px;
  margin: 0 20px 0 25px;
  border: solid #797A9E 3px;
  border-radius: 20px;
}

.works {
  width: 100%;
  display: flex;
  flex-direction: column;

}
.works .small {
  color: white;
  letter-spacing: 2px;
  margin: 10px 0;
}
.works .small a {
  text-decoration: none;
  border-bottom: solid white 2px;
  font-size: 14px;
  color: white;
}
.imgwrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.imgwrap img {
  width: 47%;
  border-radius: 10px;
}
.desc {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #fafaff;
  letter-spacing: 2px;
}
.works .desc {width: 100%;}
.footer {
  width: 100%;
  height: 100px;
  background-color: #797A9E;
  box-shadow: 0 -15px 15px #121418;
  position: fixed;
  bottom: 0;
  font-size: 12px;
  letter-spacing: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer a {
  color: #fafaff;
  text-decoration: none;
}
