@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*
  black: #2b2c28
  white: #fafaff
  red: #ff1053



  darkgray: #503D3F
  lightgray: #615756
  white: #fafaff
  orange: #F0544F
  lightorange: #F25F5C
*/
body {
  margin: 0;
  background-color: #503D3F;
  padding-bottom: 150px;
}
.phonewrap {
  background-color: #503D3F;
  color: #fafaff;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  margin: auto;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #615756;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  box-shadow: 0px 10px 10px #000;
}
h1 {
  font-size: 120px;
  color: #F0544F;
  margin: 0;
}
h2 {
  font-size: 48px;
  text-align: center;
}
.block {
  width: 98%;
  margin: 50px auto;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fafaff;
}
.block h2 {
  width: 100%;
  height: 15%;
}
.sampleimgs img.sample {
  width: 400px;
}


.header#add { background-image: url("imgs/add.png"); }
.header#works { background-image: url("imgs/works.png"); }
.header {
  width: 75%;
  height: 700px;
  background-color: #F0544F;
  border-radius: 30px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: solid #F25F5C 25px;
}

.link-list {
  width: 100%;
  height: 700px;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.link-list a {
  width: 75%;
  height: 125px;
  border-radius: 10px;
  background-color: #503D3F;
  box-shadow: 5px 7px 10px #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 48px;
  color: #F25F5C;
  text-decoration: none;
}
.link-list a img{
  width: 50px;
  height: 50px;
  margin: 0 100px 0 25px;
  border: solid #F0544F 6px;
  border-radius: 20px;
}
h3 {
  font-size: 48px;
  border-bottom: solid #fafaff 2px;
  padding-bottom: 5px;
  color: #fafaff;
  text-align: center;
  padding: 10px 40px;
}

.footer {
  width: 100%;
  height: 75px;
  background-color: #615756;
  box-shadow: 0 -10px 7px #000;
  position: fixed;
  bottom: 0;
  font-size: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer a {
  color: #fafaff;
  text-decoration: none;
}
